@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.375rem;
  background-color: rgba(209, 213, 219, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background-color: rgba(209, 213, 219, 0.6);
  transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.375rem;
  background-color: rgba(209, 213, 219, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
